@import 'part:@sanity/base/theme/variables-style';

.actionButtons {
  float: right;
}

.staticActionButtons {
  min-height: 20px;
}

.button {
  color: #586069;
  background: transparent;
  border: 0;
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 0;
}

.button:hover {
  color: var(--brand-primary);
}

.buttonGroupStart {
  composes: button;
  margin-left: 20px;
}

.buttonGroupStart:first-child {
  margin-left: 0;
}
