.root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 0.9rem;
}

.removedHtml {
  background-size: 32px;
  background-repeat: repeat-x;
  background-position: 0 15px;
}

.removedHtmlInner {
  background: #fff;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 150px;
  text-align: center;
  margin: 0 auto;
  line-height: 42px;
  font-style: italic;
}

.escapedHtml {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  background: #f8f8f8;
  font-family: monospace;
  font-size: 1.1rem;
  white-space: pre;
  margin-top: 1.5rem;
}

.escapedHtml:before {
  content: 'Escaped HTML:';
  display: block;
  position: absolute;
  margin-top: -1.5rem;
  padding: 2px 5px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}

.root :global(h1),
.root :global(h2) {
  border-bottom: 1px solid #eaecef;
}

.root :global(ul),
.root :global(ol) {
  padding-left: 2em;
}

.root :global(pre) {
  border: 1px solid #ccc;
  background: #f8f8f8;
  color: #333;
  padding: 0.5em;
  overflow-x: auto;
}

.root :global(blockquote) {
  color: #666;
  margin: 0;
  padding: 0 1em;
  border-left: 0.5em #eee solid;
  white-space: pre-line;
}

.root :global(table) {
  border-collapse: collapse;
}

.root :global(tr) {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

.root :global(th),
.root :global(td) {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.root :global(table tr:nth-child(2n)) {
  background: #f6f8fa;
}

.root :global(kbd) {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  font: 15px 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
